.Filters {
  font-family: $secondary;
  display: flex;

  select {
    height: 30px;
    margin: 5px;
    font-size: 18px;
  }

  .pickers {
    height: 24px;
    margin: 5px;
    font-size: 18px;
  }
}