.Intro {
  height: 100%;
  width: 92%;
  max-width: 600px;
  margin-top: 60px;
  font-family: $secondary;
  position: relative;
  box-sizing: border-box;
  
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 0;
    position: relative;

    .label-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .input-label {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
        display: flex;

        .tooltip {
          margin-left: 3px;
          position: relative;
          display: inline-block;

          .tooltiptext {
            font-size: 14px;
            visibility: hidden;
            width: 200px;
            background-color:white;
            color:black;
            text-align: center;
            padding: 10px;
            border-radius: 6px;
            border: 1px solid black;
            
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
          
            opacity: 0;
            transition: opacity 0.3s;

            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 61px;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: #555 transparent transparent transparent;
            }
          }

          &:hover {
            .tooltiptext {
              visibility: visible;
              opacity: 1;
              transition: opacity 0.3s;
            }
          }
        }
    
      }

      .warning {
        color: red;
        font-size: 12px;
        display: none;

        &.show {
          display: block;
        }
      }
    }

    

    .input {
      border: none;
      border-bottom: 1px black solid;
      background-color: none;
      width: 100%;
      font-size: 16px;
      transition: all .15s ease;
      padding: 3px;
      
      &:focus {
        outline: none;
        background-color: rgb(245, 245, 245);
        transition: all .15s ease;
        border-radius: 3px;
      }
    }

    .visable-text {
      position: absolute;
      right: 0;
      top: 50%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .date-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 0;
    position: relative;

    .date-label {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .picker {
      border: none;
      border-bottom: 1px black solid;
      width: 100%;
      font-size: 16px;
      padding: 3px;
      transition: all .15s ease;

      &:focus {
        outline: none;
      }
    }

    .react-datepicker-wrapper {
      width: 100%;
    }
  }

  .member {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-button {
      margin-left: 3px;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .submit {
    height: 60px;
    width: 200px;
    background-color: $olive;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 40px auto;
    cursor: pointer;

    span {
      font-size: 24px;
    }
  }
}