.MobileHeader {
    height: 50px;
    width: 100%;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    font-family: 'Roboto', sans-serif;

    .icon {
        font-size: 35px;
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        opacity:    0.5; 
        background: #000; 
        width:      100%;
        height:     100%; 
        z-index:    1;
        top:        0; 
        left:       0; 
        position:   fixed; 
        backdrop-filter: blur(5px);
    }
    
    .fa-sliders-h {
        position: relative;

        .filters-holder {
            position: absolute;
            display: flex;
            flex-direction: column;
            font-size: 18px;
            border: 1px black solid;
            background-color: white;
            z-index: 1;
            border-radius: 3px;
            transform: translateY(7px);

            &.hide {
                display: none;
            }

            .filter {
                padding: 5px 5px 5px 10px;
                font-family: 'Roboto', sans-serif;

                &.selected {
                    color: white;
                    background-color: #70825A;
                }
            }
        }
    }

    .fa-user-circle {
        position: relative;
    }

    .fa-ellipsis-v {
        position: relative;

        .views-holder {
            position: absolute;
            display: flex;
            flex-direction: column;
            font-size: 18px;
            border: 1px black solid;
            background-color: white;
            z-index: 1;
            border-radius: 3px;
            transform: translate(-90px, -13px);
            height: 84px;
            width: 105px;

            &.hide {
                display: none;
            }

            a {
                padding: 5px 5px 5px 10px;
                font-family: 'Roboto', sans-serif;
                color: black;
                
                &:visited {
                  color: black
                }
            }
            
            .selected {
                color: white;
                background-color: #70825A;
            }
              
        }
    }



    @media screen and (min-width: 839px) {
        display: none;
    }
}