.Nav {
  width: 100%;
  display: flex;
  justify-content: center;

  .nav-content-container {
    height: 100%;
    width: 92%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    &.intro {
      // justify-content: flex-end; TODO logo on into page
    }

    .logo-container {
      .logo {
        height: 150px;
        width: 150px;
      }
    }

    .links-container {
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
      height: 25px;

      .link {
        color: black;
        font-family: $primary;
        letter-spacing: 2px;
        font-size: 15px;
        text-transform: uppercase;
        margin: 0 15px;
        transition: color .15s ease;

        &:hover {
          color: #9C9999;
          transition: color .15s ease;
        }
      }
    }
  }
}