.Task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  position: relative;

  .column {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .details {
      font-size: 10px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      color: #FC6959;
      margin-left: 15px;

      .label {
        margin-right: 5px;
        color: #FC6959;
        text-decoration: underline;
        font-size: 10px;
      }

      &:visited {
        color: #FC6959;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &.assignee {
      width: 50px;
    }

    &.date {
      width: 100px;
    }

    &.task-name {
      flex-grow: 4;
      justify-content: flex-start;
      .label {
        font-size: 16px;
      }

      .details {
        .label {
          font-size: 10px;
        }
      }
    }
  }
  
  .column:last-of-type {
    border-right: 0;
  }

  .label {
    padding: 5px 0;
  }

  .complete-button {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    transition: all .15s ease;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
      border: 1px solid #70825A;
      transition: all .15s ease;
    }

    &.completed {
      color: #70825A;
      border: 1px solid #70825A;

      i {
        transform: translate(3px, 4px);
      }
      
      &:hover {
        cursor: pointer;
        color: #9C9999;
        border: 1px solid #9C9999;
      }
    }
  }
}