.Task-modal {
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px gray solid;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 100px;

  &.show {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .status-box {
    min-width: 180px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;

    .status-labels {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    .status-values {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }
}