.Task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  position: relative;

  &.gray {
    background-color: #EEEEEE;
  }

  .column {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .details {
      font-size: 10px;

      .label {
        margin-right: 5px;
        color: blue;
        text-decoration: underline;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
  
  .column:last-of-type {
    border-right: 0;
  }

  .label {
    padding: 5px 0;
  }

  .complete-button {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    transform: translate(-35px, 3px);
    transition: all .15s ease;

    &:hover {
      cursor: pointer;
      border: 2px solid #9C9999;
      transition: all .15s ease;
    }
  }
}