.Task-modal {
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px gray solid;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  font-size: 12px;
  width: 98%;
  max-width: 700px;
  font-family: 'Roboto', sans-serif;

  &.show {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease;
  }

  .modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .absolute {
      position: absolute;
    }

    .check {
      top: 0;
      left: 0;
      padding: 5px;
      font-size: 40px;

      i {

        transition: color .15s ease;
        &:hover {
          color: #70825A;
          transition: color .15s ease;
          cursor: pointer;
        }
      }
    }

    .icons {
      width: 300px;
      height: 60px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .money {
        font-size: 40px;
        padding: 0 5px;
        i {
          cursor: pointer;
        }

        .tip {
          background-color: white;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          position: fixed;
          display: block;
          max-width: 550px;
          z-index: 3;
          font-size: 14px;
          text-align: center;
          padding: 20px;
          border-radius: 3px;
          border: 1px gray solid;

          .neg-tip {
            font-size: 24px;
            margin-bottom: 20px;
          }

          .back {
            margin: 20px auto 0;
            height: 30px;
            width: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#FC6959;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            border-radius: 3px;
            cursor: pointer;
          }

          &.hide {
            display: none;
          }
        }
      }

      .blog {
        padding: 0 5px;

        .logo {
          height: 40px;
          width: 40px;
        }
      }

      .pintrest {
        padding: 0 5px;
        font-size: 40px;
        color: black;

        a {
          color: #E60023;
          
          &:visited {
            color: #E60023;
          }
        }

        &:visited {
          color: #E60023;
        }

        i {
          cursor: pointer;
        }
      }
    }

    .exit {
      top: 0;
      right: 0;
      padding: 5px;
      font-size: 20px;
      transition: color .15s ease;

      &:hover {
        color: #9C9999;
        transition: color .15s ease;
        cursor: pointer;
      }
    }

    .delete {
      bottom: 0;
      left: 0;
      padding: 5px;
      font-size: 20px;
      transition: color .15s ease;

      .confirm {
        background-color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        display: block;
        max-width: 550px;
        z-index: 3;
        font-size: 14px;
        text-align: center;
        padding: 20px;
        border-radius: 3px;
        border: 1px gray solid;
  
        .confirm-text {
          font-size: 24px;
          margin-bottom: 20px;
        }

        .button-holder {
          display: flex;
          justify-content: space-around;
          align-items: center;

          .button {
            margin: 20px auto 0;
            height: 30px;
            width: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#FC6959;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            border-radius: 3px;
            cursor: pointer;
          }

          .cancel {
            background-color: white;
            color: black;
            border: 1px black solid;
          }
        }
  
        &.hide {
          display: none;
        }
      }

      i {
        
        &:hover {
          color:#FC6959;
          transition: color .15s ease;
          cursor: pointer;
        }
      }
    }

    .icons {
      bottom: 0;
      right: 0;
    }

    .arrow {
      top: 50%;
      font-size: 30px;
      transform:scale(1,2);
      color: gray;
      box-sizing: border-box;
      transition: color .15s ease;
      padding: 0 10px;

      @media screen and (max-width: 540px) {
        display: none;
      }

      &:hover {
        color:black;
        transition: color .15s ease;
        cursor: pointer;
      }
    }

    .next {
      right: 10px;
    }

    .previous {
      left: 10px
    }

    .modal-content {
      width: 70%;
      height: 100%;
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (max-width: 540px) {
        width: 95%;
      }

      .status-box {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width: 50%;
        min-width: 230px;
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
        align-self: flex-start;

        @media screen and (max-width: 540px) {
          align-self: center;
        }
        
        .status-holder {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          width: 100%;
          padding: 2px 0;

          span {
            white-space: nowrap;
            font-weight: bold;
            flex: 1;
          }

          input {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            border: none;
          }

          .pickers {
            width: 100px;
            flex: 1;
            font-family: 'Roboto', sans-serif;
          }

          .task-status {
            margin-right: 26px;
            font-size: 12px;
            border:0px;
            outline:0px;
            -moz-appearance: none;
            -webkit-appearance: none;
            padding-right: 15px;
            padding-left: 5px;
            font-family: 'Roboto', sans-serif;
            background-color: white;
          }
        }
        .task-assignee {
          width: 100px;
        }

        .task-tag {
          width: 100px;
        }
      }

      .task-name {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        width: 100%;
        font-family: 'Roboto', sans-serif;
      }

      .advice {
        background-color: #F3F3F3;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        box-sizing: border-box;
        font-size: 14px;
        overflow: scroll;
        //TODO add a scroll bar to the advice
        height: 150px;
        font-family: 'Roboto', sans-serif;

        .title {
          font-weight: bold;
          margin-bottom: 10px;
          font-family: 'Roboto', sans-serif;
        }
      }

      .notes {
        display: flex;
        flex-direction: column;
        //TODO add a scroll bar to the notes
        width: 100%;

        .title {
          padding-bottom: 5px;
        }

        textarea {
          border: .5px solid black;
          border-radius: 3px;
          font-family: 'Roboto', sans-serif;
        }
      }

      .save-button-holder {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;

        .save-button {
          height: 40px;
          width: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #70825A;
          color: white;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }

  
}