.Title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: $secondary;

  .title-content {
    position: relative;
    height: 100%;
    width: 92%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 0 15px;

    .icon {
      margin-right: 10px;
    }

    .title-text {
      display: flex;
      justify-content: flex-end;
      margin-top: 60px;
      font-size: 70px;
      text-align: center;
    }

    .profile-content {
      position: absolute;
      right: 0;
    }

    .profile-holder {
      position: relative;
      justify-self: flex-end;
      height: 65px;

      .profile-circle {
        background-color: #fff;
        border: 2px solid black;    
        height: 60px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .15s ease;

        &:hover {
          border: 2px solid #9C9999;
          color: #9C9999;
          cursor: pointer;
          transition: all .15s ease;
        }
      }
    }
  }
}