@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Asap');

$primary: 'Hind', sans-serif;
$secondary: 'Asap', sans-serif;
$olive: #70825A;
$peach: #F6DDC8;
$pink: #FC6959