@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Asap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$primary: 'Roboto', sans-serif;
$secondary: 'Roboto', sans-serif;
$olive: #70825A;
$peach: #F6DDC8;
$pink: #FC6959;