/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@600");
@import url("https://fonts.googleapis.com/css2?family=Asap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

::-webkit-scrollbar {
  display: none; }

.App {
  position: relative;
  min-height: calc(100vh - 100px);
  max-width: 100vw;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .App .placeholder {
    height: 30px; }
  .App .views-holder {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center; }
    .App .views-holder .views-content {
      width: 92%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }

.Nav {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5; }
  .Nav .nav-content-container {
    height: 100%;
    width: 92%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px; }
    @media screen and (max-width: 1190px) {
      .Nav .nav-content-container {
        padding-top: 10px;
        padding-bottom: 30px; } }
    @media screen and (max-width: 838px) {
      .Nav .nav-content-container {
        display: none; } }
    .Nav .nav-content-container .logo-container .logo {
      height: 150px;
      width: 150px; }
      @media screen and (max-width: 1190px) {
        .Nav .nav-content-container .logo-container .logo {
          height: 125px;
          width: 125px; } }
      @media screen and (max-width: 1030px) {
        .Nav .nav-content-container .logo-container .logo {
          display: none; } }
    .Nav .nav-content-container .links-container {
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      height: 25px; }
      .Nav .nav-content-container .links-container .link.nav-link {
        color: black;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        font-size: 15px;
        margin: 0 15px;
        transition: color .15s ease;
        text-transform: uppercase; }
        @media screen and (max-width: 1190px) {
          .Nav .nav-content-container .links-container .link.nav-link {
            font-size: 12px; } }
        @media screen and (max-width: 1030px) {
          .Nav .nav-content-container .links-container .link.nav-link {
            font-size: 11px; } }
      .Nav .nav-content-container .links-container .link:hover {
        color: #9C9999;
        transition: color .15s ease; }
    .Nav .nav-content-container.intro .profile-content {
      display: none; }
  .Nav .profile-holder {
    position: relative;
    justify-self: flex-end;
    height: 65px;
    font-family: 'Roboto', sans-serif; }
    .Nav .profile-holder .profile-circle {
      background-color: #70825A;
      height: 60px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      transition: all .15s ease; }
      @media screen and (max-width: 1190px) {
        .Nav .profile-holder .profile-circle {
          height: 50px;
          width: 50px; } }
      @media screen and (max-width: 1030px) {
        .Nav .profile-holder .profile-circle {
          height: 40px;
          width: 40px; } }
      .Nav .profile-holder .profile-circle:hover {
        background-color: #818a75;
        color: white;
        cursor: pointer;
        transition: all .15s ease; }
  .Nav .mobile-nav {
    display: none;
    height: 100px;
    width: 100%;
    background-color: #F6DDC8;
    justify-content: space-between;
    align-items: center; }
    .Nav .mobile-nav .pink {
      height: 70px;
      width: 70px; }
      .Nav .mobile-nav .pink.left {
        align-self: flex-end; }
      .Nav .mobile-nav .pink.right {
        align-self: flex-start;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1); }
    .Nav .mobile-nav .white {
      height: 200px;
      width: auto; }
    .Nav .mobile-nav.intro {
      margin-bottom: 20px; }
    @media screen and (max-width: 838px) {
      .Nav .mobile-nav {
        display: flex; } }

.Footer {
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  transition: color .15s ease; }
  .Footer a {
    color: black; }
  .Footer:hover i {
    transition: color .15s ease;
    color: #9E9E9E; }
  .Footer i {
    margin: 0 8px;
    font-size: 26px; }
    .Footer i:hover {
      transition: color .15s ease;
      color: black;
      cursor: pointer; }

.Title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif; }
  .Title .title-content {
    position: relative;
    height: 100%;
    width: 92%;
    display: flex;
    justify-content: center;
    margin: 0 15px; }
    .Title .title-content .icon {
      margin-right: 10px; }
    .Title .title-content .title-text {
      display: flex;
      justify-content: flex-end;
      margin-top: 60px;
      font-size: 70px;
      text-align: center;
      margin-bottom: 20px; }
      @media screen and (max-width: 1300px) {
        .Title .title-content .title-text {
          font-size: 60px; } }
      @media screen and (max-width: 1100px) {
        .Title .title-content .title-text {
          font-size: 50px; } }
      @media screen and (max-width: 900px) {
        .Title .title-content .title-text {
          font-size: 40px; } }
      .Title .title-content .title-text.intro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px; }
        .Title .title-content .title-text.intro p {
          font-size: 22px;
          width: 550px;
          margin-top: 30px;
          line-height: 1.2; }
    .Title .title-content .profile-content {
      position: absolute;
      right: 0; }
    .Title .title-content .profile-holder {
      position: relative;
      justify-self: flex-end;
      height: 65px; }
      .Title .title-content .profile-holder .profile-circle {
        background-color: #fff;
        border: 2px solid black;
        height: 60px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .15s ease; }
        .Title .title-content .profile-holder .profile-circle:hover {
          border: 2px solid #9C9999;
          color: #9C9999;
          cursor: pointer;
          transition: all .15s ease; }

.ProfileMenu {
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: all .1s ease;
  box-shadow: 1px 2px 4px #888888;
  margin-top: 5px;
  padding: 10px 15px 5px 5px;
  width: auto;
  right: 0;
  border-radius: 3px;
  white-space: nowrap;
  background-color: white; }
  .ProfileMenu .link {
    padding: 0 5px 10px 5px;
    transition: color .15s ease; }
    .ProfileMenu .link:hover {
      color: #9C9999;
      cursor: pointer;
      transition: color .15s ease; }
  .ProfileMenu .name {
    padding-top: 10px 5px 10px 5px;
    font-weight: bold;
    font-size: 18px; }
    @media screen and (max-width: 1030px) {
      .ProfileMenu .name {
        font-size: 15px; } }
    .ProfileMenu .name:hover {
      color: black;
      cursor: default; }
  .ProfileMenu hr {
    margin: 4px 0 2px 0; }
  .ProfileMenu.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all .1s ease; }
  .ProfileMenu .modal {
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 1px 2px 4px #888888;
    opacity: 0;
    transition: all .25s ease;
    visibility: hidden;
    border-radius: 3px; }
    .ProfileMenu .modal.show {
      opacity: 1;
      visibility: visible;
      transition: all .25s ease; }
  .ProfileMenu .logout-confirm {
    z-index: 10;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .ProfileMenu .logout-confirm .message {
      font-size: 24px;
      margin-top: 20px; }
    .ProfileMenu .logout-confirm .button-holder {
      display: flex;
      width: 75%;
      justify-content: space-around;
      margin-bottom: 20px; }
      .ProfileMenu .logout-confirm .button-holder .button {
        border: 1px solid black;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 80px;
        font-size: 18px;
        cursor: pointer; }
        @media screen and (max-width: 1030px) {
          .ProfileMenu .logout-confirm .button-holder .button {
            font-size: 15px; } }
        .ProfileMenu .logout-confirm .button-holder .button.logout-link {
          color: black; }
          .ProfileMenu .logout-confirm .button-holder .button.logout-link:visited {
            color: black; }
        .ProfileMenu .logout-confirm .button-holder .button:hover {
          box-shadow: 1px 1px 2px #888888; }

.Search {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif; }
  .Search .CollabMenu {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 350px;
    box-shadow: 1px 2px 4px #888888;
    opacity: 0;
    transition: all .25s ease;
    visibility: hidden;
    border-radius: 3px; }
    .Search .CollabMenu.show {
      opacity: 1;
      visibility: visible;
      transition: all .25s ease; }
    .Search .CollabMenu.short {
      height: 200px; }
    .Search .CollabMenu .control-holder {
      width: 500px;
      height: auto;
      display: flex;
      justify-content: flex-end;
      justify-self: flex-start; }
      .Search .CollabMenu .control-holder .control {
        top: 0;
        padding: 10px;
        font-size: 12px;
        cursor: pointer; }
    .Search .CollabMenu .collabadded {
      text-align: center;
      padding-top: 30px;
      width: 350px;
      font-size: 18px; }
    .Search .CollabMenu .title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px; }
      .Search .CollabMenu .title.sent {
        font-size: 20px;
        margin-bottom: 10px; }
    .Search .CollabMenu .blurb {
      font-size: 14px;
      width: 300px;
      text-align: center;
      margin-bottom: 10px; }
      .Search .CollabMenu .blurb.sent-blurb {
        font-size: 16px;
        margin-top: 20px; }
    .Search .CollabMenu .input-holder {
      width: 250px;
      margin-bottom: 20px; }
      .Search .CollabMenu .input-holder .input-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px 0;
        position: relative; }
        .Search .CollabMenu .input-holder .input-container .label-container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .Search .CollabMenu .input-holder .input-container .label-container .input-label {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px; }
          .Search .CollabMenu .input-holder .input-container .label-container .warning {
            color: red;
            font-size: 12px;
            display: none; }
            .Search .CollabMenu .input-holder .input-container .label-container .warning.show {
              display: block; }
        .Search .CollabMenu .input-holder .input-container .input {
          border: none;
          border-bottom: 1px black solid;
          background-color: none;
          width: 100%;
          font-size: 14px;
          transition: all .15s ease; }
          .Search .CollabMenu .input-holder .input-container .input:focus {
            outline: none;
            background-color: whitesmoke;
            transition: all .15s ease;
            border-radius: 3px; }
        .Search .CollabMenu .input-holder .input-container .visable-text {
          position: absolute;
          right: 50%;
          top: 50%; }
          .Search .CollabMenu .input-holder .input-container .visable-text:hover {
            cursor: pointer; }
    .Search .CollabMenu .required-note {
      font-size: 12px; }
    .Search .CollabMenu .submit {
      height: 40px;
      width: 150px;
      background-color: #70825A;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      margin: 20px auto;
      cursor: pointer; }
      .Search .CollabMenu .submit span {
        font-size: 20px; }
  .Search .search-content {
    width: 92%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .Search .search-content i {
      font-size: 20px;
      margin: 0 4px; }
      .Search .search-content i:hover {
        color: #9C9999;
        cursor: pointer;
        transition: color .15s ease; }
    .Search .search-content .search-input {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      padding: 3px;
      border-radius: 5px;
      margin-left: 4px;
      font-family: 'Roboto', sans-serif;
      font-size: 18px; }
      .Search .search-content .search-input i {
        margin: 0 4px 0 0; }
      .Search .search-content .search-input input {
        border: none;
        font-family: 'Roboto', sans-serif; }
        .Search .search-content .search-input input:focus {
          font-family: 'Roboto', sans-serif;
          border: none;
          outline: none; }

.Views {
  font-family: 'Roboto', sans-serif; }
  .Views a {
    background-color: white;
    border: none;
    outline: none;
    font-size: 18px;
    transition: color .15s ease;
    margin: 5px;
    padding: 5px 10px;
    color: black; }
    .Views a:visited {
      color: black; }
    .Views a:hover {
      color: #9C9999;
      transition: color .15s ease;
      cursor: pointer; }
  .Views.checklist #checklist {
    border-radius: 3px;
    background-color: #70825A;
    color: white; }
  .Views.calendar #calendar {
    border-radius: 3px;
    background-color: #70825A;
    color: white; }
  .Views.progress #progress {
    border-radius: 3px;
    background-color: #70825A;
    color: white; }
  .Views.files #files {
    border-radius: 3px;
    background-color: #70825A;
    color: white; }

.Filters {
  font-family: 'Roboto', sans-serif;
  display: flex; }
  .Filters select {
    font-family: 'Roboto', sans-serif;
    height: 30px;
    margin: 5px;
    font-size: 18px; }
  .Filters .pickers {
    font-family: 'Roboto', sans-serif;
    height: 24px;
    margin: 5px;
    font-size: 18px; }

.Checklist {
  margin-top: 10px;
  width: 92%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Checklist .column {
    flex: 1;
    padding: 3px 5px;
    display: flex;
    justify-content: flex-start; }
    .Checklist .column.header span {
      cursor: pointer;
      padding-right: 10px; }
    .Checklist .column.header i {
      cursor: pointer; }
  .Checklist .overlay {
    position: fixed;
    opacity: 0.5;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(5px); }
  .Checklist .new-task {
    align-self: flex-end;
    background-color: #FC6959;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    font-size: 18px; }
    .Checklist .new-task i {
      margin-right: 10px; }
    .Checklist .new-task:hover {
      cursor: pointer; }
  .Checklist .checklist-header {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .Checklist .checklist-header .spacer {
      height: 1px;
      width: 32px; }
    .Checklist .checklist-header .column {
      font-size: 12px; }
      .Checklist .checklist-header .column.task-label {
        flex-grow: 4; }
      .Checklist .checklist-header .column:last-of-type {
        border-right: 0; }
  .Checklist hr {
    background-color: #dcdcdc;
    height: 1px;
    width: 100%;
    border: none; }

.Task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  position: relative; }
  .Task .column {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .Task .column .details {
      font-size: 10px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      color: #FC6959;
      margin-left: 15px; }
      .Task .column .details .label {
        margin-right: 5px;
        color: #FC6959;
        text-decoration: underline;
        font-size: 10px; }
      .Task .column .details:visited {
        color: #FC6959; }
      .Task .column .details:hover {
        cursor: pointer; }
    .Task .column.assignee {
      width: 50px; }
    .Task .column.date {
      width: 100px; }
    .Task .column.task-name {
      flex-grow: 4;
      justify-content: flex-start; }
      .Task .column.task-name .label {
        font-size: 18px; }
      .Task .column.task-name .details .label {
        font-size: 10px; }
  .Task .column:last-of-type {
    border-right: 0; }
  .Task .label {
    padding: 5px 0; }
  .Task .complete-button {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    transition: all .15s ease;
    margin-right: 10px; }
    .Task .complete-button:hover {
      cursor: pointer;
      border: 1px solid #70825A;
      transition: all .15s ease; }
    .Task .complete-button.completed {
      color: #70825A;
      border: 1px solid #70825A; }
      .Task .complete-button.completed i {
        transform: translate(3px, 4px);
        font-size: 14px; }
      .Task .complete-button.completed:hover {
        cursor: pointer;
        color: #9C9999;
        border: 1px solid #9C9999; }

.Task-modal {
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px gray solid;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  font-size: 12px;
  width: 700px; }
  .Task-modal.show {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease; }
  .Task-modal .modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .Task-modal .modal-container .absolute {
      position: absolute; }
    .Task-modal .modal-container .check {
      top: 0;
      left: 0;
      padding: 5px;
      font-size: 40px; }
      .Task-modal .modal-container .check i {
        transition: color .15s ease; }
        .Task-modal .modal-container .check i:hover {
          color: #70825A;
          transition: color .15s ease;
          cursor: pointer; }
    .Task-modal .modal-container .icons {
      width: 300px;
      height: 60px;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .Task-modal .modal-container .icons .money {
        font-size: 40px;
        padding: 0 5px; }
        .Task-modal .modal-container .icons .money i {
          cursor: pointer; }
        .Task-modal .modal-container .icons .money .tip {
          background-color: white;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          position: fixed;
          display: block;
          max-width: 550px;
          z-index: 3;
          font-size: 14px;
          text-align: center;
          padding: 20px;
          border-radius: 3px;
          border: 1px gray solid; }
          .Task-modal .modal-container .icons .money .tip .neg-tip {
            font-size: 24px;
            margin-bottom: 20px; }
          .Task-modal .modal-container .icons .money .tip .back {
            margin: 20px auto 0;
            height: 30px;
            width: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FC6959;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            border-radius: 3px;
            cursor: pointer; }
          .Task-modal .modal-container .icons .money .tip.hide {
            display: none; }
      .Task-modal .modal-container .icons .blog {
        padding: 0 5px; }
        .Task-modal .modal-container .icons .blog .logo {
          height: 40px;
          width: 40px; }
      .Task-modal .modal-container .icons .pintrest {
        padding: 0 5px;
        font-size: 40px;
        color: black; }
        .Task-modal .modal-container .icons .pintrest a {
          color: #E60023; }
          .Task-modal .modal-container .icons .pintrest a:visited {
            color: #E60023; }
        .Task-modal .modal-container .icons .pintrest:visited {
          color: #E60023; }
        .Task-modal .modal-container .icons .pintrest i {
          cursor: pointer; }
    .Task-modal .modal-container .exit {
      top: 0;
      right: 0;
      padding: 5px;
      font-size: 20px;
      transition: color .15s ease; }
      .Task-modal .modal-container .exit:hover {
        color: #9C9999;
        transition: color .15s ease;
        cursor: pointer; }
    .Task-modal .modal-container .delete {
      bottom: 0;
      left: 0;
      padding: 5px;
      font-size: 20px;
      transition: color .15s ease; }
      .Task-modal .modal-container .delete .confirm {
        background-color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        display: block;
        max-width: 550px;
        z-index: 3;
        font-size: 14px;
        text-align: center;
        padding: 20px;
        border-radius: 3px;
        border: 1px gray solid; }
        .Task-modal .modal-container .delete .confirm .confirm-text {
          font-size: 24px;
          margin-bottom: 20px; }
        .Task-modal .modal-container .delete .confirm .button-holder {
          display: flex;
          justify-content: space-around;
          align-items: center; }
          .Task-modal .modal-container .delete .confirm .button-holder .button {
            margin: 20px auto 0;
            height: 30px;
            width: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FC6959;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            border-radius: 3px;
            cursor: pointer; }
          .Task-modal .modal-container .delete .confirm .button-holder .cancel {
            background-color: white;
            color: black;
            border: 1px black solid; }
        .Task-modal .modal-container .delete .confirm.hide {
          display: none; }
      .Task-modal .modal-container .delete i:hover {
        color: #FC6959;
        transition: color .15s ease;
        cursor: pointer; }
    .Task-modal .modal-container .icons {
      bottom: 0;
      right: 0; }
    .Task-modal .modal-container .arrow {
      top: 50%;
      font-size: 30px;
      transform: scale(1, 2);
      color: gray;
      box-sizing: border-box;
      transition: color .15s ease;
      padding: 0 10px; }
      .Task-modal .modal-container .arrow:hover {
        color: black;
        transition: color .15s ease;
        cursor: pointer; }
    .Task-modal .modal-container .next {
      right: 10px; }
    .Task-modal .modal-container .previous {
      left: 10px; }
    .Task-modal .modal-container .modal-content {
      width: 70%;
      height: 100%;
      padding: 30px 0; }
      .Task-modal .modal-container .modal-content .status-box {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width: 50%;
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif; }
        .Task-modal .modal-container .modal-content .status-box .status-holder {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          width: 100%;
          padding: 2px 0; }
          .Task-modal .modal-container .modal-content .status-box .status-holder span {
            white-space: nowrap;
            font-weight: bold;
            flex: 1; }
          .Task-modal .modal-container .modal-content .status-box .status-holder input {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            border: none; }
          .Task-modal .modal-container .modal-content .status-box .status-holder .pickers {
            width: 100px;
            flex: 1;
            font-family: 'Roboto', sans-serif; }
          .Task-modal .modal-container .modal-content .status-box .status-holder .task-status {
            margin-right: 26px;
            font-size: 12px;
            border: 0px;
            outline: 0px;
            -moz-appearance: none;
            -webkit-appearance: none;
            padding-right: 15px;
            padding-left: 5px;
            font-family: 'Roboto', sans-serif; }
        .Task-modal .modal-container .modal-content .status-box .task-assignee {
          width: 100px; }
        .Task-modal .modal-container .modal-content .status-box .task-tag {
          width: 100px; }
      .Task-modal .modal-container .modal-content .task-name {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        width: 100%;
        font-family: 'Roboto', sans-serif; }
      .Task-modal .modal-container .modal-content .advice {
        background-color: #F3F3F3;
        width: 100%;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        box-sizing: border-box;
        font-size: 14px;
        overflow: scroll;
        height: 150px; }
        .Task-modal .modal-container .modal-content .advice .title {
          font-weight: bold;
          margin-bottom: 10px; }
      .Task-modal .modal-container .modal-content .notes {
        display: flex;
        flex-direction: column;
        width: 100%; }
        .Task-modal .modal-container .modal-content .notes .title {
          padding-bottom: 5px; }
        .Task-modal .modal-container .modal-content .notes textarea {
          border: .5px solid black;
          border-radius: 3px;
          font-family: 'Roboto', sans-serif; }
      .Task-modal .modal-container .modal-content .save-button-holder {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0; }
        .Task-modal .modal-container .modal-content .save-button-holder .save-button {
          height: 40px;
          width: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #70825A;
          color: white;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          border-radius: 3px;
          cursor: pointer; }

.Progress {
  margin-top: 20px;
  width: 92%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Progress .title {
    font-size: 28px;
    margin-top: 25px; }
    @media screen and (max-width: 760px) {
      .Progress .title {
        font-size: 24px; } }
    @media screen and (max-width: 536px) {
      .Progress .title {
        font-size: 16px; } }
  .Progress .progress-bar-container {
    margin: 40px 0;
    width: 100%;
    max-width: 700px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    @media screen and (max-width: 760px) {
      .Progress .progress-bar-container {
        margin: 30px 0; } }
    @media screen and (max-width: 536px) {
      .Progress .progress-bar-container {
        margin: 20px 0; } }
    .Progress .progress-bar-container .progress-bar {
      background-color: white;
      width: 100%;
      height: 40px;
      z-index: 1;
      display: flex;
      justify-content: space-between; }
      .Progress .progress-bar-container .progress-bar .section {
        height: 100%;
        z-index: 2;
        border-radius: 5px; }
        .Progress .progress-bar-container .progress-bar .section.complete {
          margin-right: 2px; }
        .Progress .progress-bar-container .progress-bar .section.not-started {
          margin-left: 2px; }
    .Progress .progress-bar-container .rule {
      height: 100%;
      width: 1px;
      background-color: lightgray;
      position: absolute;
      top: 0; }
    .Progress .progress-bar-container .label {
      position: absolute;
      bottom: -20px;
      transform: translateX(-10px); }
    .Progress .progress-bar-container .twentyfive {
      left: 25%; }
    .Progress .progress-bar-container .fifty {
      left: 50%; }
    .Progress .progress-bar-container .seventyfive {
      left: 75%; }
  .Progress .legend {
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media screen and (max-width: 760px) {
      .Progress .legend {
        max-width: 500px;
        font-size: 14px; } }
    @media screen and (max-width: 580px) {
      .Progress .legend {
        max-width: 400px;
        font-size: 12px; } }
    @media screen and (max-width: 460px) {
      .Progress .legend {
        max-width: 350px;
        font-size: 10px; } }
    .Progress .legend .item {
      display: flex;
      justify-content: center;
      align-items: center; }
      .Progress .legend .item .color {
        margin-right: 15px;
        height: 20px;
        width: 20px; }
        @media screen and (max-width: 4600px) {
          .Progress .legend .item .color {
            height: 15px;
            width: 15px; } }
  .Progress .circle-container {
    margin: 30px 0;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .Progress .circle-container .flex {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      box-sizing: border-box;
      margin: 20px 0 40px 0;
      width: 100%; }
      @media screen and (max-width: 730px) {
        .Progress .circle-container .flex {
          margin: 10px 0 20px 0; } }
      @media screen and (max-width: 730px) {
        .Progress .circle-container .flex.desktop {
          display: none; } }
      .Progress .circle-container .flex.mobile {
        display: none; }
        @media screen and (max-width: 730px) {
          .Progress .circle-container .flex.mobile {
            display: flex; } }
      .Progress .circle-container .flex.bottom {
        width: 85%;
        max-width: 600px; }
        @media screen and (max-width: 500px) {
          .Progress .circle-container .flex.bottom {
            justify-content: space-between; } }
    .Progress .circle-container .circle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 600; }
      @media screen and (max-width: 500px) {
        .Progress .circle-container .circle {
          font-size: 12px; } }
      .Progress .circle-container .circle .the-circle {
        height: 125px;
        width: 125px;
        background-color: #42413D;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 80px;
        margin-bottom: 10px; }
        @media screen and (max-width: 500px) {
          .Progress .circle-container .circle .the-circle {
            height: 100px;
            width: 100px;
            font-size: 55px; } }
      .Progress .circle-container .circle .big {
        height: 200px;
        width: 200px;
        font-size: 150px; }
        @media screen and (max-width: 500px) {
          .Progress .circle-container .circle .big {
            height: 150px;
            width: 150px;
            font-size: 110px; } }
      .Progress .circle-container .circle .complete {
        background-color: #70825A; }
      .Progress .circle-container .circle .in-progress {
        background-color: #F6DDC8; }
      .Progress .circle-container .circle .not-started {
        background-color: #FC6959; }
      .Progress .circle-container .circle .tasks-past-due {
        background-color: #EFC30A; }
  .Progress .complete {
    background-color: #70825A; }
  .Progress .in-progress {
    background-color: #F6DDC8; }
  .Progress .not-started {
    background-color: #FC6959; }

.Intro {
  position: relative;
  min-height: calc(100vh - 100px);
  max-width: 100vw;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Intro .signup {
    height: 100%;
    width: 92%;
    max-width: 600px;
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    box-sizing: border-box; }
    .Intro .signup .input-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 5px 0;
      position: relative; }
      .Intro .signup .input-container .label-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Roboto', sans-serif; }
        .Intro .signup .input-container .label-container .input-label {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 5px;
          display: flex; }
          @media screen and (max-width: 500px) {
            .Intro .signup .input-container .label-container .input-label {
              font-size: 16px; } }
          .Intro .signup .input-container .label-container .input-label .tooltip {
            margin-left: 3px;
            position: relative;
            display: inline-block; }
            .Intro .signup .input-container .label-container .input-label .tooltip .tooltiptext {
              font-size: 14px;
              visibility: hidden;
              width: 200px;
              background-color: white;
              color: black;
              text-align: center;
              padding: 10px;
              border-radius: 6px;
              border: 1px solid black;
              position: absolute;
              z-index: 1;
              bottom: 125%;
              left: 50%;
              margin-left: -60px;
              opacity: 0;
              transition: opacity 0.3s; }
              .Intro .signup .input-container .label-container .input-label .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 61px;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent; }
            .Intro .signup .input-container .label-container .input-label .tooltip:hover .tooltiptext {
              visibility: visible;
              opacity: 1;
              transition: opacity 0.3s; }
        .Intro .signup .input-container .label-container .warning {
          color: red;
          font-size: 12px;
          display: none; }
          .Intro .signup .input-container .label-container .warning.show {
            display: block; }
      .Intro .signup .input-container .input {
        border: none;
        border-bottom: 1px black solid;
        background-color: none;
        width: 100%;
        font-size: 16px;
        transition: all .15s ease;
        padding: 3px;
        font-family: 'Roboto', sans-serif; }
        @media screen and (max-width: 500px) {
          .Intro .signup .input-container .input {
            font-size: 14px; } }
        .Intro .signup .input-container .input:focus {
          outline: none;
          background-color: whitesmoke;
          transition: all .15s ease;
          border-radius: 3px; }
      .Intro .signup .input-container .select {
        border: none;
        border-bottom: 1px black solid;
        background-color: none;
        width: 100%;
        font-size: 16px;
        transition: all .15s ease;
        padding: 3px 3px 3px 0;
        font-family: 'Roboto', sans-serif; }
        .Intro .signup .input-container .select:focus {
          outline: none;
          background-color: whitesmoke;
          transition: all .15s ease;
          border-radius: 3px; }
      .Intro .signup .input-container .visable-text {
        position: absolute;
        right: 0;
        top: 50%; }
        .Intro .signup .input-container .visable-text:hover {
          cursor: pointer; }
    .Intro .signup .date-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 5px 0;
      position: relative; }
      .Intro .signup .date-container .date-label {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px; }
        @media screen and (max-width: 500px) {
          .Intro .signup .date-container .date-label {
            font-size: 16px; } }
      .Intro .signup .date-container .picker {
        font-family: 'Roboto', sans-serif;
        border: none;
        border-bottom: 1px black solid;
        width: 100%;
        font-size: 16px;
        padding: 3px;
        transition: all .15s ease; }
        @media screen and (max-width: 500px) {
          .Intro .signup .date-container .picker {
            font-size: 14px; } }
        .Intro .signup .date-container .picker:focus {
          outline: none; }
      .Intro .signup .date-container .react-datepicker-wrapper {
        width: 100%; }
    .Intro .signup .required-field {
      font-size: 12px;
      margin-top: 5px;
      font-style: italic; }
    .Intro .signup .member {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black; }
      .Intro .signup .member .login-button {
        color: black;
        margin-left: 3px;
        cursor: pointer;
        font-weight: bold; }
        .Intro .signup .member .login-button:hover {
          text-decoration: underline; }
    .Intro .signup .email-opt {
      margin-top: 10px;
      padding: 0 20px;
      display: flex;
      align-items: flex-start; }
      .Intro .signup .email-opt input {
        height: 23px;
        width: 23px;
        padding: 0;
        margin: 0; }
      .Intro .signup .email-opt .checkbox-text {
        font-size: 14px;
        text-align: center;
        margin-left: 10px;
        margin-top: 4px; }
        @media screen and (max-width: 500px) {
          .Intro .signup .email-opt .checkbox-text {
            font-size: 12px; } }
    .Intro .signup .terms {
      margin-top: 15px;
      text-align: center;
      font-size: 14px; }
      @media screen and (max-width: 500px) {
        .Intro .signup .terms {
          font-size: 12px; } }
    .Intro .signup .submit {
      height: 60px;
      width: 200px;
      background-color: #70825A;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      margin: 30px auto;
      cursor: pointer; }
      .Intro .signup .submit span {
        font-size: 24px; }
  .Intro .title-text {
    display: flex;
    justify-content: flex-end;
    font-size: 70px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif; }
    @media screen and (max-width: 600px) {
      .Intro .title-text {
        font-size: 46px; } }
    .Intro .title-text p {
      font-size: 22px;
      width: 85%;
      max-width: 550px;
      margin-top: 30px;
      line-height: 1.2; }
      @media screen and (max-width: 600px) {
        .Intro .title-text p {
          font-size: 16px; } }

.Profile {
  min-height: 150px;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px; }
  .Profile .control-holder {
    width: 800px;
    height: auto;
    display: flex;
    justify-content: space-between; }
    .Profile .control-holder .control {
      top: 0;
      padding: 10px;
      font-size: 20px;
      cursor: pointer; }
  .Profile .title {
    font-size: 55px;
    padding: 30px 0;
    position: relative; }
    .Profile .title .cancel-confirm {
      position: absolute;
      z-index: 5;
      height: 100px;
      width: 500px;
      box-shadow: 1px 2px 4px #888888;
      background-color: white;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 22px;
      font-weight: 600;
      border-radius: 3px;
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .Profile .title .cancel-confirm.show {
        display: flex; }
      .Profile .title .cancel-confirm .button-holder {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .Profile .title .cancel-confirm .button-holder .button {
          color: white;
          background-color: #70825A;
          cursor: pointer;
          width: 160px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px; }
  .Profile .blurb {
    text-align: center;
    white-space: normal;
    max-width: 450px;
    padding-bottom: 30px; }
  .Profile .input-holder {
    width: 600px; }
    .Profile .input-holder .edit-mode {
      font-size: 10px;
      color: white;
      padding-left: 300px; }
      .Profile .input-holder .edit-mode.show {
        color: #70825A; }
    .Profile .input-holder .input-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 5px 0;
      position: relative; }
      .Profile .input-holder .input-container .label-container {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .Profile .input-holder .input-container .label-container .input-label {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 5px; }
        .Profile .input-holder .input-container .label-container .warning {
          color: red;
          font-size: 12px;
          display: none; }
          .Profile .input-holder .input-container .label-container .warning.show {
            display: block; }
      .Profile .input-holder .input-container .input {
        border: none;
        border-bottom: 1px black solid;
        background-color: none;
        width: 50%;
        font-size: 16px;
        transition: all .15s ease;
        padding: 3px; }
        .Profile .input-holder .input-container .input:focus {
          outline: none;
          background-color: whitesmoke;
          transition: all .15s ease;
          border-radius: 3px; }
      .Profile .input-holder .input-container .visable-text {
        position: absolute;
        right: 50%;
        top: 50%; }
        .Profile .input-holder .input-container .visable-text:hover {
          cursor: pointer; }
    .Profile .input-holder .date-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 5px 0;
      position: relative; }
      .Profile .input-holder .date-container .date-label {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px; }
      .Profile .input-holder .date-container .picker {
        border: none;
        border-bottom: 1px black solid;
        width: 50%;
        font-size: 16px;
        padding: 3px;
        transition: all .15s ease; }
        .Profile .input-holder .date-container .picker:focus {
          outline: none; }
      .Profile .input-holder .date-container .react-datepicker-wrapper {
        width: 100%; }
  .Profile .submit {
    height: 60px;
    width: 200px;
    background-color: #70825A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 40px auto;
    cursor: pointer; }
    .Profile .submit span {
      font-size: 24px; }

.Calendar {
  margin: 20px;
  width: 90%;
  font-family: 'Roboto', sans-serif; }
  .Calendar .overlay {
    position: fixed;
    opacity: 0.5;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(5px); }
  .Calendar .fc-button-primary {
    background-color: #70825A !important;
    border-color: #70825A !important; }
    @media screen and (max-width: 610px) {
      .Calendar .fc-button-primary {
        padding: 3px !important; } }
    @media screen and (max-width: 460px) {
      .Calendar .fc-button-primary {
        padding: 0 !important; } }
    .Calendar .fc-button-primary:hover {
      background-color: #5b6a49 !important;
      border-color: #5b6a49 !important; }
  .Calendar .fc-day-today {
    background-color: #EDE6D6 !important; }
  .Calendar .fc-event-main {
    cursor: pointer; }
  .Calendar .fc-list-event {
    cursor: pointer; }
  @media screen and (max-width: 610px) {
    .Calendar .fc-toolbar-title {
      font-size: 22px !important; } }
  @media screen and (max-width: 460px) {
    .Calendar .fc-toolbar-title {
      font-size: 16px !important; } }
  .Calendar .legend {
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto 10px auto; }
    @media screen and (max-width: 760px) {
      .Calendar .legend {
        max-width: 500px;
        font-size: 14px; } }
    @media screen and (max-width: 580px) {
      .Calendar .legend {
        max-width: 400px;
        font-size: 12px; } }
    @media screen and (max-width: 460px) {
      .Calendar .legend {
        max-width: 350px;
        font-size: 10px; } }
    .Calendar .legend .item {
      display: flex;
      justify-content: center;
      align-items: center; }
      .Calendar .legend .item .color {
        margin-right: 15px;
        height: 20px;
        width: 20px; }
        @media screen and (max-width: 4600px) {
          .Calendar .legend .item .color {
            height: 15px;
            width: 15px; } }
    .Calendar .legend .start {
      background-color: #70825a; }
    .Calendar .legend .end {
      background-color: #EFC30A; }
    .Calendar .legend .in-progress {
      background-color: #f4c7a1; }

.Payment {
  position: relative;
  min-height: calc(100vh - 100px);
  max-width: 100vw;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Payment form {
    width: 450px; }
    .Payment form .card-label {
      font-family: 'Roboto', sans-serif; }
