/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@600");
@import url("https://fonts.googleapis.com/css2?family=Asap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.App {
  position: relative;
  min-height: 100vh;
  width: 100%; }

.Nav {
  width: 100%;
  display: flex;
  justify-content: center; }
  .Nav .nav-content-container {
    height: 100%;
    width: 92%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px; }
    .Nav .nav-content-container .logo-container .logo {
      height: 150px;
      width: 150px; }
    .Nav .nav-content-container .links-container {
      padding: 10px 0;
      display: flex;
      flex-wrap: wrap; }
      .Nav .nav-content-container .links-container .link {
        color: black;
        font-family: "Hind", sans-serif;
        letter-spacing: 2px;
        font-size: 15px;
        text-transform: uppercase;
        margin: 0 15px;
        transition: color .15s ease; }
        .Nav .nav-content-container .links-container .link:hover {
          color: #9C9999;
          transition: color .15s ease; }

.Footer {
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  transition: color .15s ease; }
  .Footer a {
    color: black; }
  .Footer:hover i {
    transition: color .15s ease;
    color: #9E9E9E; }
  .Footer i {
    margin: 0 8px;
    font-size: 26px; }
    .Footer i:hover {
      transition: color .15s ease;
      color: black;
      cursor: pointer; }

.Title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Asap", sans-serif; }
  .Title .title-content {
    position: relative;
    height: 100%;
    width: 92%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 0 15px; }
    .Title .title-content .icon {
      margin-right: 10px; }
    .Title .title-content .title-text {
      display: flex;
      justify-content: flex-end;
      margin-top: 60px;
      font-size: 70px;
      text-align: center; }
    .Title .title-content .profile-content {
      position: absolute;
      right: 0; }
    .Title .title-content .profile-holder {
      position: relative;
      justify-self: flex-end;
      height: 65px; }
      .Title .title-content .profile-holder .profile-circle {
        background-color: #fff;
        border: 2px solid black;
        height: 60px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .15s ease; }
        .Title .title-content .profile-holder .profile-circle:hover {
          border: 2px solid #9C9999;
          color: #9C9999;
          cursor: pointer;
          transition: all .15s ease; }

.ProfileMenu {
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: all .1s ease;
  box-shadow: 1px 2px 4px #888888;
  margin-top: 5px;
  padding: 5px 15px 5px 5px;
  width: auto;
  right: 0;
  border-radius: 3px;
  white-space: nowrap;
  background-color: white; }
  .ProfileMenu .user-info div {
    padding: 2.5px 5px; }
  .ProfileMenu .user-info .name {
    font-weight: bold;
    font-size: 18px; }
  .ProfileMenu .link {
    padding: 2.5px 5px;
    transition: color .15s ease; }
    .ProfileMenu .link:hover {
      color: #9C9999;
      cursor: pointer;
      transition: color .15s ease; }
  .ProfileMenu hr {
    margin: 4px 0 2px 0; }
  .ProfileMenu.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all .1s ease; }

.Search {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Asap", sans-serif; }
  .Search .search-content {
    width: 92%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .Search .search-content i {
      font-size: 20px;
      margin: 0 4px; }
      .Search .search-content i:hover {
        color: #9C9999;
        cursor: pointer;
        transition: color .15s ease; }
    .Search .search-content .search-input {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      padding: 3px;
      border-radius: 5px;
      margin-left: 4px; }
      .Search .search-content .search-input i {
        margin: 0 4px 0 0; }
        .Search .search-content .search-input i:hover {
          color: black;
          cursor: default; }
      .Search .search-content .search-input input {
        border: none; }
        .Search .search-content .search-input input:focus {
          border: none;
          outline: none; }
